#topBar .estset{
    margin: auto;
}

.estset p {
    padding: 0px;
    margin: 0px;
}

.wrapper {
    max-width: 1300px !important;
    margin: auto;
}

.navbar-brand{
    padding: 10px;
	background-color: darkred;
}

#form {
    background-image:url('../assets/mainPageSideCar.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}

.podanieDanych {
    margin: auto;
}

.pickdate{
    width: 60%;
    height: 35px;
}

h2{
    margin-top: 20px;
}

h3{
    margin-top: 10px;
}

#text{
   margin-top:20px;

}

.podanieDanych{
    margin-top: 10px;
    margin-left: 15px;
    background-color: rgb(12, 98, 145);
    border-radius: 25px;
}

.partners{
    background-color: rgb(12, 98, 145);
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 25px;
}

.carOffertRow {
	background-color:rgb(17, 121, 178, 0.95);

}

.carOfferCell {
	width: 33%;
}

.carOffertEndCell {
	width: 33%;
}

.offertContainer {
    border: 1px solid #640000;
    background-color:rgb(17, 121, 178, 0.95);
}

.offertsWrapper {
    background-color:rgb(7, 111, 168, 1.0);
}

.mapWrapper {
    background-image:url('../assets/italian-road-trips-italy-drives-cover.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.infoWrapper {
    background-color:rgb(12, 116, 173, 1.0);
}

.offertImage{
    margin: auto;
    margin-top: 5px;
    height:300px;
    width:300px;
    border: 1px solid #640000;
}

.offertTable {
    margin: auto;
    padding: 0px;
    margin-top: 0px !important;

}

.rentOfferLink {
    margin-bottom: 40px !important;
}

button {
    background-color: darkred;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #bc0101;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.przyciskRent {
    background-color: darkred;
    border: none;
    color: white;
    width: 50%;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.przyciskRent:hover {
    background-color: #bc0101;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.carousel table {
	font-family: arial, sans-serif;
	margin-top:30px;
	border-collapse: separate;
	border-spacing: 0;
}

.pBorderBottom {
    border-bottom: 1px solid #640000;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}

.pBorderBoth {
    border-top: 1px solid #640000;
    border-bottom: 1px solid #640000;

}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/*
.carousel td, .carousel th, .carousel tr {
	border: 1px solid #640000;
	text-align: left;
	padding: 8px;
}
*/

body {
    min-width: 550px;
}

footer table {
	font-family: arial, sans-serif;
    width:100%;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

footer th, footer td {
  padding: 5px;
  background: #ddd;
  border-bottom: 2px solid blue;
}

[type="date"]{
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

   .time, .pickdate, .place {
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        background-color: #fff;
        padding: 3px 5px;
        box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);

   }

    .time{
        width:20%;
        float:right;
        height: 35px;
    }

    .przycisk {
        margin-top: 20px;
        float: left;
        cursor: pointer;
        width: 100%;
        padding: 20px 25px;
        background-color: #95cfed;
        color: #14658f;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border: 1px solid #2f7ea7;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7),
        0 -1px 0 rgba(64, 38, 5, 0.9);


        }
    .przycisk:hover{
        background-color: #b8dbed;
    }
        .checkboxinfo{
            font-size:medium;
        }

        .place{
            width:100%;
        }

        .checkbox{
        margin-top: 20px;
        }

    .tableZamow {

        font-family: arial, sans-serif;
        text-align: left;
        margin: auto;
        border-right: 2px solid red;

    }

    .tableZamow th, td {
      padding: 1em;
      background: #ddd;
      border-bottom: 2px solid red;

    }