<!DOCTYPE html>

<script>

</script>
<html lang="pl">
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stronaGlowna/css/main.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
          integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>

<body style="background-color:#0C6291">

<div class="container-fluid" id="topBar">
    <div class="wrapper">
        <div class="row" style="margin-left:0px;margin-right:0px;">
            <div class="col-12 col-md-12 col-lg-4 float-lg-left" style="background-color:darkred;">
                <img src="{% static 'stronaGlowna/assets/company_logo.png' %}" alt="Logo" style="width:300px">
            </div>
            <div class="col-0 col-md-0 col-lg-4 float-lg-right" style="background-color:#0C6291;">

            </div>
            <div class="row col-12 col-lg-4 float-lg-right text-center" style="background-color:#4E8CAF;margin:0px;">
                <div class="col-6 estset" style="background-color:#4E8CAF;">
                    <p>test@gmail.com</p>
                </div>

                <div class="col-6 estset" style="background-color:#4E8CAF;">
                    <p>+48 68 259 56 78</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding: 0px !important;">

    <div class="container-fluid" style="background-color: #343a40;">
        <div class="wrapper">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <li class="nav-item">
                    <a class="navbar-brand" href=""><i class="fa fa-home fa-1x"></i> Home</a>
                </li>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarUniversity"
                        aria-controls="navbarUniversity" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarUniversity">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="oferty/"><i class="fa fa-car fa-1x"></i> Offerts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="kierowca/"><i class="fa fa-id-card fa-1x"></i> Driver</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="informacje/"><i class="fa fa-info-circle fa-1x"></i> Info</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="zamowienia/"><i class="fa fa-credit-card fa-1x"></i> Your
                                orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../profil/"><i class="fa fa-user-cog fa-1x"></i> Your profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="wyloguj/"><i class="fa fa-sign-out-alt fa-1x"></i> Log out</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="zarejestruj/"><i class="fa fa-user-plus fa-1x"></i> Sing in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="zaloguj/"><i class="fa fa-sign-in-alt fa-1x"></i> Log in</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-fluid" id="form">
        <div class="wrapper container">
            <div class="row pt-xl-3 pb-xl-3">
                <div class="col-sm-12 col-md-7 podanieDanych pb-2">
                    <h2>Booking Online</h2>
                    <div class="dane row">
                        <div class="col-md-12 col-lg-6">
                            <h3>Reception place:</h3>
                            <form action="">
                                <select class="place" name="reception">
                                    <option>-give the place of receipt-</option>
                                    <option>Tu wpisz drugą możliwość</option>
                                </select>
                                <input class="pickdate" type="date" name="">
                                <select class="time" name="reception1t">
                                    <option>00</option>
                                    <option>15</option>
                                    <option>30</option>
                                    <option>45</option>
                                </select>
                                <select class="time" name="reception1tt">
                                    <option>00</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                </select>
                                <section class="checkboxinfo">
                                    <input class="checkbox" type="checkbox">Driver's age between 30 and 65 years old.
                                </section>

                            </form>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <h3>Place of return:</h3>
                            <form class="site-from" action="" method="post">
                                {% csrf_token %}
                                <select class="place" name="return">
                                    <option>-give the place of return-</option>
                                    <option>Tu wpisz drugą możliwość</option>
                                </select>
                                <input class="pickdate" type="date" name="">

                                <select class="time" name="returnt">
                                    <option>00</option>
                                    <option>15</option>
                                    <option>30</option>
                                    <option>45</option>
                                </select>
                                <select class="time" name="returntt">
                                    <option>00</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                </select>

                                <input class="przycisk" type="submit" value="Search" name="SearchForm">
                            </form>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-7 podanieDanych text-center pb-3 mb-1">
                    <h2>Only trusted renter with great ratings!</h2>
                    <img src="{% static 'stronaGlowna/assets/loga.png' %}" class="img-fluid" alt="Italian Trulli">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid offertsWrapper">
        <div class="wrapper">
            <div class="row pt-4 pb-2">
                <div class="col-12 text-center"><h1>Most popular: </h1></div>
                <div class="d-md-none d-lg-block col-lg col-xl"></div>
                <div class="col-12 col-md-6 col-lg-5 col-xl-4 text-center">
                    <h1>Medium cars</h1>
                    <div id="oferty1" class="carousel slide" data-interval="false" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <li data-target="#oferty1" data-slide-to="0" class="active"></li>
                            <li data-target="#oferty1" data-slide-to="1"></li>
                            <li data-target="#oferty1" data-slide-to="2"></li>
                            <li data-target="#oferty1" data-slide-to="3"></li>
                            <li data-target="#oferty1" data-slide-to="4"></li>
                        </ul>

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            {% for samochod in oferty1.samochody.all %}
                            {% if forloop.counter == 1 %}
                            <div class="carousel-item active">
                                <div class="offertContainer">
                                    <img class="offertImage p-1"
                                         src="{{ samochod.zdjecie.url }}"/>
                                    <table class="offertTable p-1">
                                        <tr>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom">Name: {{ samochod.marka }}</span>
                                            </th>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom">Price: {{ samochod.cena }}</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/solid--car-gears.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.skrzynia_biegow }}</span>
                                            </th>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/paliwo.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.rodzaj_paliwa }}</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/solid--car-seat.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.ilosc_miejsc }}</span>
                                            </th>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/solid--big-bag.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.walizki }}</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/solid--air-conditioning.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.klimatyzacja }}</span>
                                            </th>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/ilosc_drzwi.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.ilosc_drzwi }}</span>
                                            </th>
                                        </tr>
                                    </table>
                                    <div class="rentOfferLink">
                                        <a href='zlozZamowienie/{{ samochod.id }}' class="przyciskRent">Rent</a>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="carousel-item">
                                <div class="offertContainer">
                                    <img class="offertImage p-1"
                                         src="{{ samochod.zdjecie.url }}"/>
                                    <table class="offertTable p-1">
                                        <tr>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom">Name: {{ samochod.marka }}</span>
                                            </th>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom">Price: {{ samochod.cena }}</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/solid--car-gears.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.skrzynia_biegow }}</span>
                                            </th>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/paliwo.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.rodzaj_paliwa }}</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/solid--car-seat.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.ilosc_miejsc }}</span>
                                            </th>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/solid--big-bag.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.walizki }}</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/solid--air-conditioning.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.klimatyzacja }}</span>
                                            </th>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/ilosc_drzwi.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.ilosc_drzwi }}</span>
                                            </th>
                                        </tr>
                                    </table>
                                    <div class="rentOfferLink">
                                        <a href='oferty/{{ samochod.id }}' class="przyciskRent">Rent</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#oferty1" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#oferty1" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

                    </div>
                </div>
                <div class="d-md-none d-lg-block col-lg col-xl"></div>
                <div class="col-12 col-md-6 col-lg-5 col-xl-4 text-center">
                    <h1>Specialised cars</h1>
                    <div id="oferty2" class="carousel slide" data-interval="false" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <li data-target="#oferty2" data-slide-to="0" class="active"></li>
                            <li data-target="#oferty2" data-slide-to="1"></li>
                            <li data-target="#oferty2" data-slide-to="2"></li>
                            <li data-target="#oferty2" data-slide-to="3"></li>
                            <li data-target="#oferty2" data-slide-to="4"></li>
                        </ul>

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            {% for samochod in oferty2.samochody.all %}
                            {% if forloop.counter == 1 %}
                            <div class="carousel-item active">
                                <div class="offertContainer">
                                    <img class="offertImage p-1"
                                         src="{{ samochod.zdjecie.url }}"/>
                                    <table class="offertTable p-1">
                                        <tr>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom">Name: {{ samochod.marka }}</span>
                                            </th>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom">Price: {{ samochod.cena }}</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/solid--car-gears.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.skrzynia_biegow }}</span>
                                            </th>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/paliwo.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.rodzaj_paliwa }}</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/solid--car-seat.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.ilosc_miejsc }}</span>
                                            </th>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/solid--big-bag.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.walizki }}</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/solid--air-conditioning.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.klimatyzacja }}</span>
                                            </th>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/ilosc_drzwi.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.ilosc_drzwi }}</span>
                                            </th>
                                        </tr>
                                    </table>
                                    <div class="rentOfferLink">
                                        <a href='oferty/{{ samochod.id }}' class="przyciskRent">Rent</a>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="carousel-item">
                                <div class="offertContainer">
                                    <img class="offertImage p-1"
                                         src="{{ samochod.zdjecie.url }}"/>
                                    <table class="offertTable p-1">
                                        <tr>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom">Name: {{ samochod.marka }}</span>
                                            </th>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom">Price: {{ samochod.cena }}</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/solid--car-gears.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.skrzynia_biegow }}</span>
                                            </th>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/paliwo.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.rodzaj_paliwa }}</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/solid--car-seat.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.ilosc_miejsc }}</span>
                                            </th>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/solid--big-bag.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.walizki }}</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/solid--air-conditioning.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.klimatyzacja }}</span>
                                            </th>
                                            <th class="carOfferCell">
                                                <span class="pBorderBottom"><img
                                                        src="{% static 'stronaGlowna/assets/ilosc_drzwi.png' %}"
                                                        alt="Italian Trulli"/> {{ samochod.ilosc_drzwi }}</span>
                                            </th>
                                        </tr>
                                    </table>
                                    <div class="rentOfferLink">
                                        <a href='oferty/{{ samochod.id }}' class="przyciskRent">Rent</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#oferty2" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#oferty2" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

                    </div>

                </div>
                <div class="d-md-none d-lg-block col-lg col-xl"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid mapWrapper">
        <div class="wrapper">
            <div class="row pb-2">
                <div class="col-12 row">
                    <div class="col-sm-12 mapa text-center">
                        <h4>Our Zones!</h4>
                        <img src="{% static 'stronaGlowna/assets/mapa.jpg' %}" alt="Italian Trulli"
                             style="width: 100%; height: 450px;">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid infoWrapper">
        <div class="wrapper">
            <div class="row pb-2">
                <div class="col-12 row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <h2>Our clients opinions</h2>
                                <table>
                                    <tr>
                                        <th>Posted by: {{ komentarz1.user }}</th>
                                    </tr>
                                    <tr>
                                        <th>{{ komentarz1.komentarz }}</th>
                                    </tr>
                                </table>
                                <table>
                                    <tr>
                                        <th>Posted by: {{ komentarz2.user }}</th>
                                    </tr>
                                    <tr>
                                        <th>{{ komentarz2.komentarz }}</th>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-12">
                                <table>
                                    <tr>
                                        <th>Posted by: {{ komentarz3.user }}</th>
                                    </tr>
                                    <tr>
                                        <th>{{ komentarz3.komentarz }}</th>
                                    </tr>
                                </table>
                                <table>
                                    <tr>
                                        <th>Posted by: {{ komentarz4.user }}</th>
                                    </tr>
                                    <tr>
                                        <th>{{ komentarz4.komentarz }}</th>
                                    </tr>
                                </table>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<footer>
    <div class="container-fluid" style="text-align:left;background-color:#0c6291;">
        <div class="row">
            <div class="col-0 col-sm-3"></div>
            <div class="col-12 col-sm-6" style="margin-top:5px;">
                <p style="font-size:10px">Copyright © 2018 rent&amp;go.com, marka należąca do Grupy AKK(aleksander,
                    kamil, kuba) Limited. Wszelkie prawa zastrzeżone.</p>
                <p style="font-size:10px">Contact information: <a
                        href="mailto:someone@example.com">someone@example.com</a>.</p>
                <table class="text-center" style="margin-top:10px;margin-bottom:10px;">
                    <tr>
                        <th style="font-size:10px;border:0px solid #640000;border-right:2px solid #640000;"><a
                                href="/kontakt/kontakt">Contact</a></th>
                        <th style="font-size:10px;border:0px solid #640000;border-right:2px solid #640000;"><a
                                href="/kontakt/cookies">Cookies</a></th>
                        <th style="font-size:10px;border:0px solid #640000;"><a href="/kontakt/zasady">Rules</a></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
