<!DOCTYPE html>

<script>

</script>
<html lang="pl">
<html>
    <head>
		{% load static %}
		<link rel="stylesheet" href="{% static 'kierowca/css/kierowca.css' %}">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
			  integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
			  crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>

    <body style="background-color:#0C6291">
		<div class="container-fluid" id="topBar" >
			<div class="row" style="margin-left:0px;margin-right:0px;">
					<div class="col-12 col-md-6 col-lg-4 float-lg-left" style="background-color:darkred;">
						<img src="{% static 'stronaGlowna/assets/company_logo.png' %}" alt="Logo" style="width:300px">
					</div>
					<div class="col-0 col-md-2 col-lg-4 float-lg-right" style="background-color:#0C6291;">

					</div>
					<div class="col-6 col-md-2 float-lg-right" style="background-color:#4E8CAF;" >
						<p>test@gmail.com</p>
					</div>

					<div class="col-6 col-md-2 float-lg-right" style="background-color:#4E8CAF;" >
						<p>+48 68 259 56 78</p>
					</div>
			</div>
		</div>
		<div class="container-fluid" id="form">
			<nav class="navbar navbar-expand-md navbar-dark bg-dark">
				<li class="nav-item">
					<a class="navbar-brand" href="../../"><i class="fa fa-home fa-1x"></i> Home</a>
				</li>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarUniversity" aria-controls="navbarUniversity" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarUniversity">
					<ul class="navbar-nav mr-auto">

						<li class="nav-item">
							<a class="nav-link" href="../../oferty/"><i class="fa fa-car fa-1x"></i> Offerts</a>
					  	</li>
						 <li class="nav-item">
							<a class="nav-link" href="../../kierowca/"><i class="fa fa-id-card fa-1x"></i> Driver</a>
						 </li>
						 <li class="nav-item">
							<a class="nav-link" href="../../informacje/"><i class="fa fa-info-circle fa-1x"></i> Info</a>
						 </li>
						{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="../../zamowienia/"><i class="fa fa-credit-card fa-1x"></i> Your orders</a>
						 </li>
						<li class="nav-item">
							<a class="nav-link" href="../../profil/"><i class="fa fa-user-cog fa-1x"></i> Your profil</a>
						 </li>
						<li class="nav-item">
							<a class="nav-link" href="../../wyloguj/"><i class="fa fa-sign-out-alt fa-1x"></i> Log out</a>
						 </li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="../../zarejestruj/"><i class="fa fa-user-plus fa-1x"></i> Sing in</a>
						 </li>
						<li class="nav-item">
							<a class="nav-link" href="../../zaloguj/"><i class="fa fa-sign-in-alt fa-1x"></i> Log in</a>
						 </li>
						{% endif %}
					</ul>
				</div>
			</nav>



        <div class ="row p-1">
            <div class="col-4">
                <div class="messagesPanel text-center">
                    <h6><a href="../">Your profile</a></h6>
                    <h6><a href="../zmienHaslo/">Edit password</a></h6>
                    <h6><a href="../zmienEmail/">Edit email</a></h6>
                    <h6><a href="../zmienProfil/">Edit profile</a></h6>
                </div>
            </div>
            <div class="col-8 messagesPanel text-center">
                {% if alert == 1 %}
                <h3>You have changed your password</h3>
                {% endif %}
                <form class="site-from" action="" method="post" >
                    {% csrf_token %}
                    <p>Change your email:</p>

                    <p>New E-mail: {{ form.email }}</p>

                    <input type="submit" value="Change" name="PasswordChangeForm">
                </form>
            </div>
        </div>
    </div>

			<footer>
				<div class="container-fluid" style="text-align:left;background-color:#90B7CD;">
					<div class= "row">
						<div class="col-0 col-sm-3"></div>
						<div class= "col-12 col-sm-6" style="margin-top:5px;">
							<p style="font-size:10px">Copyright © 2018 rent&amp;go.com, marka należąca do Grupy AKK(aleksander, kamil, kuba) Limited. Wszelkie prawa zastrzeżone.</p>
							<p style="font-size:10px">Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
							<table style="margin-top:15px;margin-bottom:15px;">
								<tr>
									<th style="font-size:13px;border:0px solid #640000;border-right:2px solid #640000;"><a href="../../kontakt/kontakt">Contact</a></th>
									<th style="font-size:13px;border:0px solid #640000;border-right:2px solid #640000;"><a href="../../kontakt/cookies">Cookies</a></th>
									<th style="font-size:13px;border:0px solid #640000;"><a href="../../kontakt/zasady">Rules</a></th>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</footer>
    </body>
</html>