{% extends 'profileUser.html' %}
{% load static %}
{% block showProfile %}
    <div class="col col-sm col-md col-lg col-xl"></div>
    <div class="col-10 col-sm-10 col-md-8 profilePanel text-center">

        <table class="dataTable">
            <tr>
                <th>Username:  </th> <th>{{ user.username }}</th>
            </tr>
            <tr>
                <th>Name: </th> <th>{{ user.first_name }}</th>
            </tr>
            <tr>
                <th>Surename: </th> <th>{{ user.last_name }}</th>
            </tr>
            <tr>
                <th>Email: </th> <th>{{ user.email }}</th>
            </tr>
            <tr>
                <th>ID card: </th> <th>{{ profil.nr_dowodu }}</th>
            </tr>
            <tr>
                <th>Driver license: </th> <th>{{ profil.nr_prawa_jazdy }}</th>
            </tr>
            <tr>
                <th>Phone number: </th> <th>{{ profil.nr_telefonu }}</th>
            </tr>
        </table>
    </div>
    <div class="col col-sm col-md col-lg col-xl"></div>
{% endblock %}