body {
    background-color: #d8ac1d;
    background-image:url('../cityMap/assets/yellowBackground2.png');
	background-position: top;
}

nav {
    background-color: #785800;
    background-image:url('../cityMap/assets/yellowBackground3.png');
	background-position: top;
}

nav div {
    float:left;
    width:7em; /*Fixes the width of all elements*/
    padding-right:10px;
}

nav div a{
    color: white;
}

nav div a:link {
    display: block;
    width: 100%;
    text-align:center;
    padding: 8px 8px 8px 0.8em;
    background-color: #000;
    color: white;
    color: #FFFFFF;
    text-decoration: none;
}

nav div a:hover {
    background-color: #1c1c1c;
    color: #5d5d5d;
}

.navbar .navbar-collapse {
  text-align: center;
}

.cityListPanel {
    background-color: #cc9a16;
    border: 10px solid transparent;
    -webkit-border-image: url('../cityMap/assets/border.png') 30 round; /* Safari 3.1-5 */
    -o-border-image: url('../cityMap/assets/border.png') 30 round; /* Opera 11-12.1 */
    border-image: url('../cityMap/assets/border8.png') 30 round;
    padding:10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #edb41e;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #edb41e;
}



